.fullscreen-bg {
    /* Ustawienie wysokości na 100% widocznego okna (Viewport Height) */
    min-height: 100vh;
    /* Adres obrazka w tle */
    background-image: url('img/main_bckg.avif');
    
    /* Sprawia, że obrazek pokrywa cały obszar, zachowując proporcje */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
            
    /* Ciemna nakładka (overlay), by poprawić czytelność elementów na zdjęciu */
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
}

.hero-section {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img/timon-studler-ABGaVhJxwDQ-unsplash.jpg'); 
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
    
    /* Ustawienie wysokości na 400px */
    height: 600px; 
    
    /* Centrowanie zawartości wewnątrz sekcji 400px */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section-o-nas {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img/krok.svg'); 
    
    background-position: center center;
    background-repeat: no-repeat;
    /* Zmiana na contain sprawia, że cała grafika mieści się w sekcji */
    background-size: contain; 
    color: white;
    
    /* Ustawienie wysokości na 600px */
    height: 600px; 
    
    /* Centrowanie zawartości wewnątrz sekcji */
    display: flex;
    align-items: center;
    justify-content: center;
}

.tlo_bezowe_1{
    background-color: #F5FCFC;
}

.tlo_bezowe_2{
    background-color: #E9F1F7;
}

.flaga{
    height: 30px;
}

.logo {
    height:500px;
}

.logo_small{
    height:50px;
}